body { color: #202b36; }
div.document { width: 1120px; margin: 36px auto; }
div.body { max-width: 830px; padding: 0 32px 36px; }
div.body h1, div.body h2, div.body h3 { color: #153d51; font-family: sans-serif; }
div.body h1 { font-size: 2.2em; line-height: 1.15; }
div.body p, div.body li { line-height: 1.6; }
a { color: #126475; }
pre { padding: 16px; background: #f0f5f7; overflow-x: auto; }
table.docutils { width: 100%; }
table.docutils td, table.docutils th { padding: 10px; }
div.admonition { padding: 14px 18px; border-radius: 4px; }
@media(max-width: 1150px) { div.document { width: auto; margin: 20px; } }
@media(max-width: 875px) { div.document { margin: 0; } div.body { padding: 20px; } }
